# General MacOS
.DS_Store
.AppleDouble
.LSOverride

# MacOS - Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# MacOS - Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Windows - Dump file
*.stackdump

# Windows Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Visual Studio Code ignores
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Nova editor
/.nova/

node_modules/
dist/
*.log
.idea/
.env
.env.*

# lockfile not needed for libraries
package-lock.json
